{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <h1>Home Page</h1>
    <div id="map" style="height: 500px; width: 1200px"></div>
    <script>
      const map = L.map("map").setView([{{iss_location.iss_position.latitude }}, {{iss_location.iss_position.longitude }}], 2.5);
      L.tileLayer(
        "https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/{z}/{x}/{y}?access_token=pk.eyJ1Ijoid2lsbHNtaXRoMTUwNSIsImEiOiJja2d2cHQxOGswMm9kMndwaXdsN2QwM2FlIn0.DPXuIqGl5Sr4-2og3O6hlw",
        {
          attribution:
            'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
          maxZoom: 18,
          id: "mapbox/streets-v11",
          tileSize: 512,
          zoomOffset: -1,
          accessToken: "your.mapbox.access.token",
        }
      ).addTo(map);

      var greenIcon = L.icon({
        iconUrl:
          "https://upload.wikimedia.org/wikipedia/commons/d/d0/International_Space_Station.svg",
        shadowUrl:
          "https://upload.wikimedia.org/wikipedia/commons/d/d0/International_Space_Station.svg",

        iconSize: [38, 95], // size of the icon
        shadowSize: [50, 64], // size of the shadow
        iconAnchor: [22, 94], // point of the icon which will correspond to marker's location
        shadowAnchor: [4, 62], // the same for the shadow
        popupAnchor: [-3, -76], // point from which the popup should open relative to the iconAnchor
      });
      L.marker([{{ iss_location.iss_position.latitude }}, {{iss_location.iss_position.longitude }}], { icon: greenIcon }).addTo(map);
    </script>
  </div>
  <div class="row">
    <h1>row</h1>
  </div>
</div>

{% endblock %}
