{% extends 'base.html' %} {% block content %}
<div>
  <h1>Profile</h1>
  <form method="POST" id="user_form">
   <div>
    {{ form.hidden_tag() }}

    <div>{{form.first_name.label}} : {{form.first_name}}</div>
    <div>{{form.last_name.label}} : {{form.last_name}}</div>
    <div>{{form.email.label}} : {{form.email}}</div>
    <div>
      <input id="street" type="text" placeholder="Street">
      <input id="city" type="text" placeholder="City">
      <input id="country" type="text" placeholder="Country">
      <div class="btn btn-danger" id="validate-btn">
        <p>Validate Address</p>
      </div>
    </div>
    <div>{{form.lat.label}} : {{form.lat(id="lat-field")}}</div>
    <div>{{form.long.label}} : {{form.long(id="long-field")}}</div>
    <div>{{form.method.label}} : {{form.method}}</div>
    <div>{{form.cellphone.label}} : {{form.cellphone}}</div>

    <button class="btn btn-success">{{ button }}</button>
   </div>
  </form>
  <a class="btn btn-danger" href='/profile/delete/{{user_id}}'>Delete Profile</a>
  <script src="/static/validateAddress.js"></script>
</div>
{% endblock %}
